* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative; }

nav {
  position: relative;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: #212121; }
  nav .header_burger {
    display: none; }
  nav .header_close {
    display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
  color: #ffffff; }
  .menu_link {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none; }
  .menu_item {
    border-right: 2px solid black;
    padding-right: 28px; }
  .menu_item_1 {
    border-right: none; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  min-height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader .subheader_img {
    display: block;
    margin-top: 16px;
    width: 100%; }
  .subheader .subheader_official {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    color: rgba(255, 255, 255, 0.5); }
  .subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff; }
  .subheader .subheader_number {
    display: block;
    margin-top: 2px;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff; }
    .subheader .subheader_number_visible {
      display: none; }
  .subheader .subheader_btn {
    width: 172px;
    height: 46px;
    margin-top: 25px;
    -webkit-box-shadow: inset 0px -1.5px 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -1.5px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    .subheader .subheader_btn:hover {
      background-image: none;
      background-color: #fff;
      color: blue; }

.promo {
  min-height: 800px;
  background: url("/src/img/mainbg.jpg") center center/cover no-repeat;
  padding: 200px 0 135px 0; }
  .promo .promo_h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px; }
  .promo .promo_h2 {
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 20px;
    text-align: center; }
  .promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 23px; }
  .promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    .promo .promo_btn:hover {
      background-image: none;
      background-color: #fff;
      color: blue; }

.reasons {
  padding: 71px 0 65px 0; }
  .reasons .reasons_btn {
    border: none;
    display: block;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase; }
  .reasons .reasons_header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .reasons .reasons_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px; }
    .reasons .reasons_block .reasons_round {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 26px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%; }
    .reasons .reasons_block .reasons_descr {
      width: 343px; }
      .reasons .reasons_block .reasons_descr .reasons_subtitle {
        line-height: 21px;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 500; }
      .reasons .reasons_block .reasons_descr .reasons_text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px; }

.mobile {
  min-height: 100px;
  padding: 48px 0 80px 0; }
  .mobile .row {
    margin-top: 32px; }
  .mobile .mobile_btn {
    display: block;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase; }
  .mobile .mobile_header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .mobile .mobile_subheader {
    margin-bottom: 0;
    margin-top: 10px;
    color: #222222;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .mobile .mobile_block {
    position: relative;
    height: 280px;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile .mobile_block_1 {
      background: url("../icons/mobile1.jpg") center center/cover no-repeat; }
    .mobile .mobile_block_2 {
      background: url("../icons/mobile2.jpg") center center/cover no-repeat; }
    .mobile .mobile_block_3 {
      background: url("../icons/mobile3.jpg") center center/cover no-repeat; }
    .mobile .mobile_block_4 {
      background: url("../icons/mobile4.jpg") center center/cover no-repeat; }
    .mobile .mobile_block_5 {
      background: url("../icons/mobile5.jpg") center center/cover no-repeat; }
    .mobile .mobile_block_6 {
      background: url("../icons/mobile6.jpg") center center/cover no-repeat; }
    .mobile .mobile_block .mobile_descr {
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff; }
    .mobile .mobile_block .mobile_round {
      height: 26px;
      width: 26px;
      border-radius: 100%;
      background: #000000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto;
      position: absolute;
      bottom: 19px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      cursor: pointer;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      .mobile .mobile_block .mobile_round:before {
        content: " ";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eaac7;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile .mobile_block .mobile_round::after {
        content: " ";
        display: block;
        height: 14px;
        width: 2px;
        background-color: #1eaac7;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile .mobile_block .mobile_round:hover {
        background-color: #fff; }
        .mobile .mobile_block .mobile_round:hover::before, .mobile .mobile_block .mobile_round:hover::after {
          background-color: #ff5656; }

.car {
  position: relative; }
  .car .car_black {
    min-height: 500px;
    padding: 50px 0px 0px 0px;
    background-color: #070716; }
    .car .car_black .car_label {
      display: block;
      margin: 0 auto;
      height: 24px;
      width: 112px;
      padding: 5px 12px;
      background-color: #fff;
      color: #000;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 4px; }
    .car .car_black .car_header {
      margin-bottom: 0;
      margin-top: 38px;
      color: #fff;
      font-size: 38px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center; }
    .car .car_black .car_subheader {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center; }
  .car .car_white {
    min-height: 300px;
    padding: 300px 0px 50px 0px;
    background-color: #fff; }
    .car .car_white .car_descr {
      margin-bottom: 0;
      color: #000;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center; }
  .car .car_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    top: 300px; }

.require {
  min-height: 100px;
  padding: 68px 0 84px 0; }
  .require_label {
    display: block;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px; }
  .require_header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #000;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .require_block_blue {
    margin-top: 32px;
    display: inline-block; }
    .require_block_blue_header {
      font-size: 22px;
      font-weight: 500;
      color: #1ca8ce; }
    .require_block_blue_list {
      list-style-type: none;
      padding-left: 50px;
      font-size: 22px;
      font-weight: 300;
      margin-top: 22px;
      margin-bottom: 0px; }
      .require_block_blue_list li {
        margin-bottom: 10px;
        position: relative; }
        .require_block_blue_list li:before {
          content: "";
          display: block;
          width: 21px;
          height: 20px;
          background: url("../icons/checkmarkblue.svg") center center/cover no-repeat;
          position: absolute;
          left: -28px;
          top: 7px; }
    .require_block_blue_subheader {
      margin-top: 20px;
      color: #1ca8c3;
      font-size: 22px; }
  .require .red {
    margin-top: 25px; }
    .require .red .require_block_blue_header {
      color: #ff5656; }
    .require .red .require_block_blue_list li:before {
      background: url("../icons/checkmarkred.svg") center center/cover no-repeat; }

.map {
  height: 717px;
  background: url("../img/map.jpg") center center/cover no-repeat;
  padding: 40px 0 80px 0;
  position: relative; }
  .map_label {
    display: block;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #fff;
    color: #000;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    width: 66px;
    text-align: center; }
  .map_header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #fff;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .map_subheader {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; }
  .map_link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 48px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1fbad6;
    font-size: 14px; }
    .map_link:hover {
      color: red; }

.footer {
  padding: 15px 30px 30px 30px;
  min-height: 150px;
  background-color: #fff;
  position: relative; }
  .footer_rectangle {
    width: 253px;
    height: 6px;
    border-radius: 4px;
    margin: 0 auto;
    background: #1fbad6; }
  .footer_link {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_link_text {
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      color: #070716;
      text-decoration: none;
      margin: 0 12px 0 12px; }
  .footer_sublink {
    margin-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_sublink_subtext {
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      color: #070716;
      text-decoration: none;
      margin: 0 6px 0 6px; }
  .footer_language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    color: #0fbad6;
    text-decoration: none; }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .footer_wrapper_round {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: #000;
      margin-right: 9px; }
      .footer_wrapper_round span {
        color: #fff; }
      .footer_wrapper_round:hover {
        background-color: #808080; }
  .footer_market {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 30px; }
    .footer_market_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px; }
  .menu_item {
    padding-right: 20px; }

  .promo .promo_h1 {
    font-size: 50px; }

  .reasons .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reasons .reasons_block .reasons_descr {
      width: 300px; }

  .mobile .mobile_block {
    width: 300px; }

  .map {
    height: 450px; }

  .footer .section .footer_market img {
    width: 220px;
    margin-top: 10px; } }
@media (max-width: 991px) {
  .menu_link {
    font-size: 10px; }
  .menu_item {
    padding-right: 8px; }

  .subheader .subheader_img img {
    width: 100%; }
  .subheader .subheader_official {
    font-size: 12px; }
  .subheader .subheader_number {
    font-size: 18px; }
  .subheader .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px; }

  .promo {
    padding: 200px 0 80px; }
    .promo .promo_h1 {
      font-size: 40px; }
    .promo .promo_h2 {
      font-size: 32px; }
    .promo .promo_btn {
      margin: 80px auto 0 auto; }

  .reasons {
    padding-top: 40px; }
    .reasons .reasons_header {
      font-size: 30px; }
    .reasons .reasons_block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .reasons .reasons_block .reasons_descr .reasons_subtitle {
        margin-top: 15px;
        text-align: center; }
      .reasons .reasons_block .reasons_descr .reasons_text {
        margin-top: 10px;
        text-align: center; }

  .mobile {
    padding: 0 0 25px; }
    .mobile .mobile_block {
      width: 220px;
      padding-top: 105px; }
      .mobile .mobile_block .mobile_descr {
        font-size: 17px; }

  .car .car_img {
    height: 50%;
    position: absolute;
    top: 250px; }
  .car .car_white {
    padding-top: 225px; }

  .require {
    padding-top: 0px; }
    .require .require_block_blue_list {
      font-size: 16px; }
    .require .require_block_blue_subheader {
      font-size: 20px; }

  .map .map_header {
    margin-top: 24px;
    font-size: 30px; }
  .map .map_link {
    bottom: 30px; }

  .footer .footer_wrapper {
    top: 80%; }
  .footer .section .footer_market img {
    margin-top: 110px; } }
@media (max-width: 767px) {
  nav .header_image {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    width: 26px;
    height: 26px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
  nav .header_burger {
    display: block;
    width: 100%;
    margin-top: 4px; }
  nav .header_burger_active {
    display: none; }
  nav .header_close {
    display: none;
    width: 26px;
    height: 26px; }
  nav .header_close_active {
    display: block;
    width: 26px;
    height: 26px; }

  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
    .menu_active {
      left: 0;
      background-color: rgba(0, 0, 0, 0.8); }
    .menu_item {
      border: none;
      padding-left: 0px;
      margin: 15px 0;
      text-align: center; }
    .menu_link {
      font-size: 20px; }

  .xs-hidden {
    display: none; }

  .subheader {
    min-height: 90px; }
    .subheader .subheader_number {
      display: block;
      margin-top: 5px;
      font-size: 16px;
      font-weight: 400px;
      text-transform: uppercase;
      color: #fff;
      text-align: center; }
      .subheader .subheader_number_visible {
        display: block; }
    .subheader .subheader_btn {
      display: block;
      width: 200px;
      height: 35px;
      margin: 0 auto;
      margin-top: 10px; }

  .promo .promo_h1 {
    font-size: 36px; }
  .promo .promo_h2 {
    font-size: 24px; }
  .promo .promo_descr {
    font-size: 15px; }

  .reasons {
    padding-top: 28px;
    padding-bottom: 50px; }
    .reasons .reasons_header {
      font-size: 26px; }
    .reasons .reasons_block .reasons_descr {
      width: 400px; }

  .mobile .mobile_header {
    font-size: 28px;
    margin-top: 30px; }
  .mobile .mobile_block {
    width: 320px; }

  .car .car_black {
    min-height: 420px; }
    .car .car_black .car_header {
      font-size: 28px; }
  .car .car_img {
    height: 40%; }
  .car .car_white {
    padding-top: 150px;
    min-height: 230px; }

  .require .require_header {
    font-size: 28px; }

  .map {
    height: 350px; }
    .map .map_header {
      font-size: 24px; }
    .map .map_subheader {
      font-size: 12px; }
    .map .map_link {
      font-size: 12px; }

  .footer .footer_market {
    display: none; }
  .footer .footer_language {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }
@media (max-width: 575px) {
  .subheader .subheader_official {
    display: none; }
  .subheader .subheader_img {
    margin-top: 30px; }
  .subheader .subheader_number_visible {
    display: block;
    font-size: 12px; }
  .subheader .subheader_btn {
    font-size: 10px;
    width: 130px; }

  .reasons .reasons_header {
    font-size: 20px;
    margin-top: 20px; }
  .reasons .reasons_block .reasons_descr {
    width: 260px; }

  .mobile .mobile_header {
    font-size: 20px; }
  .mobile .mobile_subheader {
    font-size: 12px; }
  .mobile .mobile_block {
    width: 280px; }

  .car .car_black {
    min-height: 360px; }
    .car .car_black .car_header {
      font-size: 20px; }
  .car .car_img {
    height: 30%; }

  .promo {
    min-height: 500px;
    padding-bottom: 50px; }
    .promo .promo_h1 {
      font-size: 26px; }
    .promo .promo_h2 {
      font-size: 18px; }
    .promo .promo_descr {
      display: none; }
    .promo .promo_btn {
      width: 220px;
      height: 50px;
      font-size: 15px; }

  .require {
    padding-bottom: 40px; }
    .require .require_header {
      font-size: 20px; }
    .require .require_block_blue_header {
      font-size: 16px; }
    .require .require_block_blue_list {
      font-size: 14px; }
    .require .require_block_blue_subheader {
      font-size: 18px; }

  .map {
    height: 400px; }
    .map .map_subheader {
      display: none; }
    .map .map_header {
      display: none; }

  .footer {
    padding: 15px 0 30px;
    position: relative; }
    .footer .footer_sublink {
      display: none; }
    .footer .footer_language {
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .footer .footer_link_text {
      font-size: 10px; }
    .footer .footer_wrapper {
      top: 60%;
      left: 5%; }
    .footer .footer_wrapper_round {
      margin-right: 0px;
      margin: 0 20px; }
    .footer .footer_link {
      margin-top: 15px; } }

/*# sourceMappingURL=style.css.map */